/**
 * Header
 */
.site-title {
	/* Match <p> tag to <h1> tag on front page */
	margin-bottom: 0;
	font-size: 8rem;
	font-weight: 500;
	line-height: 1em;

	& a {
		color: inherit;
		text-decoration: inherit;
	}
}

.site-description {
	margin: 0;
	font-family: 'Sofia-Pro', 'Open Sans', arial, sans-serif;
	font-size: 4rem;
	font-weight: normal;
	font-weight: 300;
	padding-left: .6rem;
}
